<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navigation.css" type="text/css" />
    <link rel="stylesheet" href="/css/cardPreview.css" type="text/css" />
    <link rel="stylesheet" href="/css/komentar.css" type="text/css" />
    <link rel="stylesheet" href="/css/komentarBox.css" type="text/css" />
    <link rel="stylesheet" href="/css/stars.css" type="text/css" />
    <script src="/javascript/navigation.js"></script>
    <script src="/javascript/komentar.js"></script>
    <title>Filmovi</title>
  </head>
  <body>
    <%- include('../_navigacija') %>
    <section class="dark">
      <div class="container py-4">
        <article class="postcard dark blue">
            <h4 class="text-center" id="pageHeaderTitle"><%= film.naziv %></h4>
            <img class="postcard__img rounded mx-auto d-block" src=<%= film.slika %> alt="Image Title" />
          </a>
          <div class="postcard__text">
            <h1 class="postcard__title blue ml-4 mb-4"><%= film.naziv %></h1>
            <div class="postcard__subtitle small mb-5">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-4"></i>Početak prikazivanja:  <%= film.datumIzlaska.toLocaleDateString() %>
              </time>
              <i class="fas fa-calendar-alt mr-5"></i>Režiser: <%= film.reziser %>
            </div>
            <% if(film.najava.match("<iframe")){ %>
              <div class="col-sm-8 offset-md-2 embed-responsive embed-responsive-16by9">
                <%- film.najava %>>
            </div>
            <% } %>
            <div class="postcard__subtitle small">
                <br>
                <i class="fas fa-calendar-alt mr-3" style="color:white"></i>Glumci: <%= film.glumci %>
              </div>
            <div class="postcard__bar ml-3"></div>
            <div class="postcard__preview-txt ml-3"><%=film.opis%></div>
            <ul class="postcard__tagbox ml-3">
              <li class="tag__item"><i class="fas fa-clock mr-2"></i>Trajanje: <%= film.trajanje +" min"%></li>
            </ul>
            <ul class="postcard__tagbox ml-3">
              <% kategorije.forEach(kategorija=> { %>
                <li class="tag__item"><%= kategorija%></li>
              <%})%>
            </ul>
          </div>
          <% if(korisnikKomentiral.length == 0){ %>
            <h1 class="postcard__title blue ml-4">Komentiraj</h1>
            <%- include('_ocjeni_form') %>
            <% } %>
          <div class="row d-flex justify-content-center mt-100 mb-100">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Najnoviji komentari</h4>
                    </div>
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <% komentari.forEach(kom=> { %>
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2"><img src="https://media.istockphoto.com/vectors/male-profile-flat-blue-simple-icon-with-long-shadow-vector-id522855255?k=20&m=522855255&s=612x612&w=0&h=fLLvwEbgOmSzk1_jQ0MgDATEVcVOh_kqEe0rqi7aM5A=" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h6 style="font-weight: bold;"><%= kom.korisnik%></h6> <span class="m-b-15 d-block"><%= kom.komentar%> </span>
                                <span class="m-b-15 d-block" style="color:chartreuse">Ocjena: <%= kom.ocjena%>/5 </span>
                                <div class="comment-footer"> 
                                  <span class="text-muted float-right">
                                    <%= kom.datum.toLocaleDateString() %> <%= kom.datum.toLocaleTimeString() %>
                                  </span>
                                  <!-- <button type="button" class="btn btn-cyan btn-sm">Edit</button> 
                                  <button type="button" class="btn btn-success btn-sm">Publish</button>  -->
                                  <% if(korisnik == kom.korisnik){ %>
                                    <form action="/filmovi/detalji/obrisi-komentar/<%=kom.id%>/<%=film.id%>?_method=DELETE" method="POST" class="d-inline">
                                        <button type="submit" class="btn btn-danger btn-sm">Obriši</button>
                                    </form>
                                  <% } %>
                                </div>
                            </div>
                        </div>
                        <%})%> <!-- Comment Row -->
                    </div> <!-- Card -->
                </div>
            </div>
        </div>



        </article>
    </section>
  </body>
</html>